<head>
    <link rel="stylesheet" href="/stylesheets/admin/autho-verify.css">
    <link rel="stylesheet" href="/stylesheets/admin/autho-verify1.css">
</head>
<div class="nav">
    <a href="/admin/home">
        <div class="back">
            <img src="/icons/back-button.png" alt="logout" class="back-icon">
        </div>
    </a>
    <div>
        <img src="/images/SafeNet Logo no bg.png"alt="logo" class="logo">
    </div>
</div>
<div class="main">
    <h1 class="title">Volunteer Verification</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>phone_number</th>
            <th>office address</th>
            <th>designation</th>
            <th>department</th>
            <th>employee id</th>
            <th>id proof</th>
            <th>photo</th>
            <th></th>

        </tr>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone_number}}</td>
                <td>{{this.office_address}}</td>
                <td>{{this.designation}}</td>
                <td>{{this.department}}</td>
                <td>{{this.employee_id}}</td>
         <td>
          <button onclick="showImageModal('{{id_proof}}')">View ID Proof</button>
        </td>
        <td>
          <button onclick="showImageModal('{{photo}}')">View Photo</button>
        </td>
        <td>
                    <button class="approve-btn" onclick="autho_verify('{{id}}')" id="approve">Approve</button>
                    <button class="reject-btn">Reject</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script>
      const autho_verify=document.getElementById(approve);
      approve.addevent
 async function autho_verify(id){
    try{
      const response =await fetch('/admin/autho_verify',{
        method:'POSt',
        headers:{
          'Content-Type':'application/json',
        },
        body:JSON.stringify({id}),
      });
      if (response.ok){
        alert("authority approver");
        location.reload();
      }else{
        alert("falied to approve");
      }
    }catch(error){
      console.error('Error:'error);
      alert("errror");
    }
  }
  </script>
